<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="../static/css/styles_fish_page.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orelega+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome To ML Models</h1>
        <h2>Try The Below Models on Fish Length</h2>
        <div class='linear'>
            <a href="predict">
                <button class='btn btn1'>Linear Regression</button>
            </a>
        </div>
        <br>
        <div class='svr'>
            <a href="svr">
                <button class="btn btn2">SVR</button>
            </a>  
        </div>
        <br>
        <div class="dtr">
            <a href="dtr">
                <button class="btn btn3">DTR</button>
            </a>
        </div>
        <div class="rtr">
            <a href="rtr_fish">
                <button class="btn btn3">RTR</button>
            </a>
        </div>
    </body>
</html>