<html>
    <head>
        <title>Welcome</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orelega+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles_index.css">
    </head>
    <body>
    <div>
        <h1>Welcome To ML Models</h1>
        <h2>Try The Below Models on Fish Length</h2>
        <div class='linear'>
            <a href="fish_page">
                <button class='btn btn1'>Fish Data</button>
            </a>
        </div>
        <br>
    </div>
    </body>
</html>