<html>
    <head>
        <title>SVR</title>
        <link rel="stylesheet" href="../static/css/styles_svr_fish.css">
    </head>
    <body>
        <div class="svr">
            <form action="{{url_for('svr')}}" method="post">
                <input type="text" name="age" placeholder="age" required="required" class="input1 in1">
                <button type="submit" class="btn btn1">Predict</button>
            </form>
            <br>
            {{ prediction_text }}
            <br>
        </div>
    </body>
</html>